.bg-img {
    width: 25rem;
    background-color: #A2D5F2;
    height: 30rem;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 0 0 200px 200px;
    overflow: hidden;
    border: 1px solid #F36F38;
}

.bg-img img {
    width: 20rem;
}

.lable {
    list-style-type: none;
    display: flex;
    gap: 3rem;
    font-size: 20px;

}

.header {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.header-lable {
    display: flex;
    gap: 5rem;

}

.align-title {
    margin-top: -10px;
    color: #F36F38;
}


@media (max-width: 768px){

}