/* ====================
   Desktop Styles
   ==================== */
.bg-img {
    width: 25rem;
    background-color: #A2D5F2;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 0 0 200px 200px;
    overflow: hidden;
    border: 1px solid #F36F38;
}

.bg-img img {
    width: 20rem;
}

.lable {
    list-style-type: none;
    display: flex;
    gap: 3rem;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.header-lable {
    display: flex;
    gap: 5rem;
    position: relative;
}

.align-title {
    color: #F36F38;
}

.hamburger-btn {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: #F36F38;
    cursor: pointer;
}

.bio {
    width: 30rem;
    text-align: end;
}

.bit-btn {
    background-color: #F36F38;
    color: white;
    width: 20rem;
    height: 3rem;
    border-radius: 15px 20px;
    font-weight: bold;
    font-size: 18px;
    

   
    
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 3rem;
}


@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .header>div:nth-child(2) {
        display: contents;
    }

    .header-lable {
        order: 1;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .header>div:nth-child(1) {
        order: 2;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .header>div:nth-child(2)>div:nth-child(2) {
        order: 3;
        text-align: center;
        padding: 0 1.5rem;
        line-height: 1.6;
    }

    .bg-img {
        border-radius: 200px;
        width: 20rem;
        height: 25rem;
    }

    .bg-img img {
        width: 16rem;
    }

    .hamburger-btn {
        display: block;
    }

    .lable {
        display: none;
        position: absolute;
        top: 60px;
        left: 30%;
        transform: translateX(-50%);
        flex-direction: column;
        background-color: white;
        padding: 1rem 2rem;
        border-radius: 10px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        gap: 1.5rem;
        z-index: 10;
        text-align: center;
    }

    .open {
        display: flex;
    }
}