@font-face {
    font-family: 'Shabnam';
    src: url('./assets/fonts/Shabnam-Thin-FD-WOL.woff2') format('woff2'),
        url('./assets/fonts/Shabnam-Thin-FD-WOL.woff') format('woff'),
        url('./assets/fonts/Shabnam-Thin-FD-WOL.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Shabnam';
    src: url('./assets/fonts/Shabnam-Light-FD-WOL.woff2') format('woff2'),
        url('./assets/fonts/Shabnam-Light-FD-WOL.woff') format('woff'),
        url('./assets/fonts/Shabnam-Light-FD-WOL.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Shabnam';
    src: url('./assets/fonts/Shabnam-FD-WOL.woff2') format('woff2'),
        url('./assets/fonts/Shabnam-FD-WOL.woff') format('woff'),
        url('./assets/fonts/Shabnam-FD-WOL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Shabnam';
    src: url('./assets/fonts/Shabnam-Medium-FD-WOL.woff2') format('woff2'),
        url('./assets/fonts/Shabnam-Medium-FD-WOL.woff') format('woff'),
        url('./assets/fonts/Shabnam-Medium-FD-WOL.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Shabnam';
    src: url('./assets/fonts/Shabnam-Bold-FD-WOL.woff2') format('woff2'),
        url('./assets/fonts/Shabnam-Bold-FD-WOL.woff') format('woff'),
        url('./assets/fonts/Shabnam-Bold-FD-WOL.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


:root {
    background-color: #F9F7F1;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Shabnam', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #757575;

}